.modal {
    background-color: white;
    position: fixed;
    top: 5%;
    left: 2%;
    z-index: 10;
    width: 26vw;
    height: 70vh;
    padding: 2rem 1rem;
    border-radius: 1.5rem;
    gap: 10rem;
    min-width: 340px;
}

.modal-verify {
    font-size: 1.5rem;
    text-align: center;
}

@media (min-width: 768px) {

    .modal {
        top: 25%;
        left: 36%;
        translate: (-50%, -50%);

    }
}

.modal-close-button {
    position: absolute;
    transform: scale(1.8);

    top: 0;
    left: 96%;


}

.modal-wrapper {
    position: fixed;
    background-color: rgba(236, 224, 223, 0.8);
    z-index: 3;
    width: 100%;
    height: 100%;
    top: 0;


}

.modal-number-input {
    gap: 2rem;
}

.modal-input {
    border: 2px solid black;
    padding: 0.8rem 1rem;
    padding-right: 2rem;
    border-radius: 0.5rem;

}

/* .modal-input:focus {
    border
    outline: 2px solid red;
} */

.modal-input-button {
    padding: 0.5rem;
    background-color: black;
    color: white;

}

.modal-input-button:hover {
    color: black;
    background-color: white;
    border: 2px solid black;
    font-weight: 700;
}

.otp-form-input {
    gap: 1.5rem;
}

.otp-form-input input {
    width: 2rem;
    border: 2px solid black;
    padding: 0.5rem;
}